.banner{
	height: 400px;
	background-image: url('../images/mer.jpeg');
	background-size: cover;
	background-position: center;
	margin:20px 20px;
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
 

}
.banner_explain{
	margin-left: 40px;
}
.banner h1{
	color:rgb(0, 71, 119);
	font-size: 35px;
}
.banner p{
	color:rgb(240,240,240);
	margin-left:40px;
	width: 400px;
	font-size: 15px;
	margin-bottom: 40px;
}
.title-details {
	position: relative;

}
.banner .button {
	position: absolute;
	left:450px;
	bottom: 12px;
	text-align: center;

}